
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  padding: 0;
  font-size: 15px;
  height: 50px;
  transition: all 0.5s;
  color: rgba(255, 255, 255, 0.7);
}

#topbar.topbar-scrolled {
  top: -50px;
}

#topbar i {
  color: #ED2470;
}

#topbar i + i {
  margin-left: 15px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  top: 50px;
  height: 70px;
  z-index: 997;
  transition: all 0.5s;
  padding: 10px 0;
}
#header h1
{
  font-family: "Satisfy", sans-serif;
}
#header.header-scrolled {
  top: 0;
  background: rgba(26, 24, 22, 0.85);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px; 
}

#header .logo h1 a, #header .logo h1 a:hover {
  color:#ED2470;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

@media (max-width: 992px) {
  #header {
    top: 0;
    background: rgba(26, 24, 22, 0.85);
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: pink;
  padding: 9px 14px;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #ED2470;
  text-decoration: none;
}

.nav-menu .book-a-table a {
  background: #ED2470;
  color: #fff;
  border-radius: 50px;
  margin: 0 0 0 20px;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s;
}

.nav-menu .book-a-table a:hover {
  background: #ff3f87;
  color: #fff;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #433f39;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #ED2470;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #433f39;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #ED2470;
  text-decoration: none;
}

.mobile-nav .book-a-table a {
  background: #ED2470;
  color: #fff;
  border-radius: 50px;
  margin: 0 0 0 20px;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s;
  display: inline-block;
}

.mobile-nav .book-a-table a:hover {
  background: #ffa012;
  color: #fff;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(39, 37, 34, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# General - why, highlights
--------------------------------------------------------------*/
#why {
  margin-top:4%;
  font-family: "Poppins", sans-serif;
  color: #444444;
}

#why a {
  color: #ED2470;
}

#why a:hover {
  color: #e83e8c;
  text-decoration: none;
}

#why h1,#why h2,#why h3,#why h4,#why h5,#why h6 {
  font-family: "Satisfy", sans-serif;
}

/*--------------------------------------------------------------
# Sections General - why, highlights
--------------------------------------------------------------*/
#why section {
  padding: 60px 0;
}

#why .section-bg {
  background-color: white;
}

#why .section-title {
  text-align: center;
  padding-bottom: 30px;
}

#why .section-title h2 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  color: #5f5950;
}

#why .section-title h2 span {
  /*color: #ED2470;*/
  color: #ED2470; 
}

#why .section-title p {
  margin: 15px auto 0 auto;
  font-weight: 300;
}

@media (min-width: 1024px) {
  #why .section-title p {
    width: 50%;
  }
}


/*--------------------------------------------------------------
# why us
--------------------------------------------------------------*/
.specials {
  overflow: hidden;
}

.specials .nav-tabs {
  border: 0;
}

.specials .nav-link {
  border: 0;
  padding: 12px 15px 12px 0;
  transition: 0.3s;
  color: #433f39;
  border-radius: 0;
  border-right: 2px solid #e8e7e4;
  font-weight: 600;
  font-size: 15px;
}

.specials .nav-link:hover {
  color: #ED2470;
}

.specials .nav-link.active {
  color: #ED2470;
  border-color: #ED2470;
}

.specials .tab-pane.active {
  -webkit-animation: fadeIn 0.5s ease-out;
  animation: fadeIn 0.5s ease-out;
}

.specials .details h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #433f39;
}

.specials .details p {
  color: #777777;
}

.specials .details p:last-child {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .specials .nav-link {
    border: 0;
    padding: 15px;
  }
  .specials .nav-link.active {
    color: #fff;
    background: #ED2470;
  }
  #why a {
  color: black;
}

#why a:hover {
  color: #e83e8c;
  text-decoration: none;
}
}

.specials img{
  border-radius: 50%;
  height: 30vh;
}

/*--------------------------------------------------------------
# highlights
--------------------------------------------------------------*/
.events {
  background: url(../images/bk3.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
}

.events::before {
  content: '';
  background-color: rgba(12, 11, 10, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#why .events .section-title h2 {
  color: #fff;
}

.events .container {
  position: relative;
}

@media (min-width: 1024px) {
  .events {
    background-attachment: fixed;
  }
}

.events .events-carousel {
  background: rgba(255, 255, 255, 0.08);
  padding: 30px;
}

.events .event-item {
  color: #fff;
}

.events .event-item h3 {
  font-weight: 600;
  font-size: 26px;
  color: #ED2470;
}

.events .event-item .price {
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}

.events .event-item .price span {
  border-bottom: 2px solid #ED2470;
}

.events .event-item ul {
  list-style: none;
  padding: 0;
}

.events .event-item ul li {
  padding-bottom: 10px;
}

.events .event-item ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #ED2470;
}

.events .event-item p:last-child {
  margin-bottom: 0;
}

.events .owl-nav, .events .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.events .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.events .owl-dot.active {
  background-color: #ED2470 !important;
}

@media (min-width: 992px) {
  .events .testimonial-item p {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# General owner
--------------------------------------------------------------*/
#feed body {
  font-family: 'Poppins', sans-serif;
  color: #555555;
}

#feed h1,
#feed h2,
#feed h3,
#feed h4,
#feed h5,
#feed h6 {
  color: #000000;
}

#feed a {
  color: #000000;
  transition: all .5s ease;
}

#feed a:hover {
  color: #2eca6a;
  text-decoration: none;
}


/*--------------------------------------------------------------
# owner_info Section
--------------------------------------------------------------*/
.testimonials-box {
  padding: 1rem 0;
}

.testimonials-box .testimonial-avatar {
  width: 80px !important;
  display: inline-flex !important;
  border-radius: 50%;
}

.testimonial-ico {
  text-align: center;
}

.testimonial-ico span {
  font-size: 1.8rem;
  background-color: #ED2470;
  color: #ffffff;
  padding: .4rem 1rem;
  border-radius: 50px;
}

.testimonial-text {
  font-style: italic;
  margin-top: 25px;
  padding: 1.5rem 1.5rem;
  background-color: #f3f3f3;
  position: relative;
}

.testimonial-text:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 25px;
  width: 0px;
  height: 0px;
  border-top: 15px solid #f3f3f3;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.testimonial-author-box {
  margin-top: 2rem;
}

.testimonial-author {
  margin-left: 1rem;
  display: inline-flex;
  font-size: 1.2rem;
  color: #000000;
}

/*------/ Space Padding /------*/
.section-t8 {
  padding-top: 8rem;
}

@media (max-width: 767px) {
  .section-t8 {
    padding-top: 4rem;
  }
}


/*------/ Owl carousel /------*/
#feed .owl-theme .owl-dots {
  text-align: center;
  margin-top: 18px;
}

#feed .owl-theme .owl-dots .owl-dot {
  display: inline-block;
}

#feed .owl-theme .owl-dots .owl-dot span {
  width: 16px;
  height: 9px;
  margin: 5px 5px;
  background: #000000;
  border: 0px solid #000000;
  display: block;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
  border-radius: 0px;
}

#feed .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #2eca6a;
}

#feed .owl-theme .owl-dots .owl-dot.active span {
  background-color: #2eca6a;
  width: 35px;
}

#feed .owl-arrow .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.8rem;
}

#feed .owl-arrow .owl-nav .owl-prev,
#feed .owl-arrow .owl-nav .owl-next {
  display: inline-block;
  transition: all 0.6s ease-in-out;
  color: #000000;
}

#feed .owl-arrow .owl-nav .owl-prev.disabled,
#feed .owl-arrow .owl-nav .owl-next.disabled {
  transition: all 0.6s ease-in-out;
  color: #adadad;
}

#feed .owl-arrow .owl-nav .owl-next {
  margin-left: 15px;
}

#feed .nav-arrow-a .owl-arrow .owl-nav {
  font-size: 1.8rem;
  margin-top: -110px;
}

#feed .nav-arrow-a .owl-arrow .owl-nav .owl-next {
  margin-left: 15px;
}

#feed .nav-arrow-b .owl-arrow .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2rem;
}

#feed .nav-arrow-b .owl-arrow .owl-nav .owl-prev,
#feed .nav-arrow-b .owl-arrow .owl-nav .owl-next {
  padding: .7rem 1.5rem !important;
  display: inline-block;
  transition: all 0.6s ease-in-out;
  color: #ffffff;
  background-color: #2eca6a;
  opacity: .9;
}

#feed .nav-arrow-b .owl-arrow .owl-nav .owl-prev.disabled,
#feed .nav-arrow-b .owl-arrow .owl-nav .owl-next.disabled {
  transition: all 0.6s ease-in-out;
  color: #ffffff;
}

#feed .nav-arrow-b .owl-arrow .owl-nav .owl-prev:hover,
#feed .nav-arrow-b .owl-arrow .owl-nav .owl-next:hover {
  background-color: #26a356;
}

#feed .nav-arrow-b .owl-arrow .owl-nav .owl-next {
  margin-left: 0px;
}

/*------/ Title /------*/
.title-wrap {
  padding-bottom: 4rem;
}

.title-a {
  font-size: 2.6rem;
  font-weight: 600;
  font-family: "Satisfy", sans-serif;
}

#feed .title-link {
  font-size: 1.2rem;
  font-weight: 300;
  padding-top: 1.2rem;
}

#feed .title-link a {
  color: #313131;
}

#feed .title-link span {
  font-size: 20px;
  padding-left: 4px;
  vertical-align: middle;
}

#feed .title-box-d {
  padding-bottom: 1.8rem;
  margin-bottom: 1rem;
  position: relative;
}

#feed .title-box-d .title-d {
  font-weight: 600;
  font-size: 2rem;
}

#feed .title-box-d .title-d:after {
  content: '';
  position: absolute;
  width: 70px;
  height: 4px;
  background-color: #2eca6a;
  bottom: 20px;
  left: 0;
}

#feed .title-box h2{
  color: #ED2470 !important; 
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  text-align: center;
  background:#000;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
  position: relative;
}

#footer .copyright {
  text-align: center;
}
#footer span
{
  color:#ED2470;
}
#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
#footer span
{
  color: #ED2470;
}
#footer i
{
  padding:5px; 
  font-size:36px;
  color:#ED2470;
}
#footer i:hover
{
  opacity:0.5;
}
#footer .credits a {
  color: #ff3333;
}
